@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, sans-serif;
}

.header, 
.footer {
  background-color: #1f2937;
  color: #d3d4d7;
  display: flex;
}

.footer {
  justify-content: center;
}

.header {
  padding: 8px 72px 48px;
  flex-direction: column;
  gap: 48px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.summary {
  flex: 1;
}

#logo a {
  font-size: 24px;
  color: #f9faf8;
}

.nav ul {
  display: flex;
  gap: 12px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #d3d4d7;
}